.item {
  background-color: #fff;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgb(202, 201, 201);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 70px 10px 20px;
  gap: 5px;
}
.status {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  padding: 3px;
  border: 0.5px solid rgb(202, 201, 201);
  border-radius: 5px;
}
.name {
  font-size: 18px;
  font-weight: 500;
}
